:root{
	--color-primary: #F3D03E;
	--color-secondary: #f29f4b;
	--color-complementary:#707372;
	--color-complementary2: #FFF5AF;
    --color-complementary3: #337ab7;

	/* FUENTES */
	--font-titles: Helvetica-bold;
	--font-parrafos:Bebas;
}


/* MIS CAMBIOS */
@media(min-width:1200px){
	.rd-navbar-modern.rd-navbar-static .rd-navbar-project-hamburger-open{
		bottom:33px;
	}

	.rd-navbar-modern.rd-navbar-static .rd-navbar-inner-outer{
		max-height:144px;
	}
}

/* BORDES BNT */
.btn:focus{
	box-shadow:0 0 0 0;
}
.btn:hover{
	border-color:transparent;
}

/* LOGO */
@media(min-width: 768px){
	.logo-home{
		width: 50% !important;
	}
}

/* QUIENES SOMOS */
.about-us-info>p:first-child{
	color: #303030;
	line-height: 1.375em;
}


/* SERVICIOS PROTOTIPO 3 */
.service-icon{
    font-size:40px;
    color: var(--color-secondary);
}